<h4 style="display:inline-block">Your devices</h4>
<div class="pull-right"><button class="btn btn-md btn-primary" ng-click="newDevice()">New device</button></div>
<div>
  <div class="device-row" ng-repeat="device in devices" style="border-left:5px solid {{device.color}}">
    <div class="pull-left" ng-bind-html="getFamilyIcon(device.description.family)"></div>
    <div class="pull-left">
      <span>{{device.description.name}}</span>
      <span class="understate">{{device.description.location}}</span><br/>
      <span class="small">Last seen: {{device.stats.lastConnection | amTimeAgo}}</span><br/>
      <span class="small understate">
        Seen {{device.stats.timesSeen | shortNumber}} times
        <span class="glyphicon glyphicon-arrow-up"></span> {{device.stats.bytesUploaded | shortNumber}}B
        <span class="glyphicon glyphicon-arrow-down"></span> {{device.stats.bytesDownloaded | shortNumber}}B
      </span>
    </div>
    <div class="pull-right">
      <button class="btn btn-sm btn-default" ng-click="editMeasurements(device)"><i class="fa fa-bar-chart"></i></button>
      <button class="btn btn-sm btn-default" ng-click="editApiKeys(device)"><i class="fa fa-key"></i></button>
      <button class="btn btn-sm btn-default" ng-click="editDevice(device)"><span class="glyphicon glyphicon-cog"></span></button>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
