<h4>Measurements</h4>
<div>Measurements provide a way to abstract the data that may be logged by the device. The device should register a list of available measurements, which can then be freely mapped to a different database</div>
<div ng-if="refreshingMeasurements"><i class="fa fa-circle-o-notch fa-spin"></i> Loading measurements</div>
<table ng-if="!refreshingMeasurements && measurements.length >= 1" class="table" style="margin-top:5px">
  <thead>
    <th>Name</th>
    <th>Table</th>
    <th>Column</th>
    <th></th>
  </thead>
  <tr ng-repeat="measurement in measurements">
    <td><input class="form-control input-md" type="text" ng-model="measurement.val.name" /></td>
    <td><input class="form-control input-md" type="text" ng-model="measurement.val.table" /></td>
    <td><input class="form-control input-md" type="text" ng-model="measurement.val.column" /></td>
    <td style="white-space: nowrap">
      <i ng-if="measurement.loading" class="fa fa-circle-o-notch fa-spin"></i>
      <button ng-if="!measurement.loading && measurement.val.id" class="btn btn-md btn-danger" ng-click="deleteMeasurement(measurement, device)"><i class="fa fa-trash-o"></i></button>
      <button ng-if="!measurement.loading && isMeasurementModified(measurement)" class="btn btn-md btn-success" ng-click="saveMeasurement(measurement)"><i class="fa fa-check"></i></button>
    </td>
  </tr>
</table>
<div ng-if="!refreshingMeasurements && !(measurements.length >= 1)" style="margin-top:10px"><b>You have no measurement configured for this device</b></div><br/>
<div class="pull-right">
  <button class="btn btn-md btn-success" ng-click="newMeasurement(device)">Create new measurement</button>
  <button class="btn btn-md btn-primary" ng-click="stopEditingMeasurements()">Done</button>
</div>
