<div class="row row-centered login" ng-controller="LoginCtrl">
  <div class="well col-md-4 col-centered">
    <form ng-submit="doLogin(username, password, gateway)">
      <div class="login-header">
        <h4>Sign in</h4>
        <div class="pull-right" dropdown-toggle dropdown>
          <div class="btn btn-default">
            <span class="name">{{gateway.name}}</span>
            <span class="glyphicon glyphicon-triangle-bottom"></span>
          </div>
          <ul class="dropdown-menu add-dropdown">
            <li ng-repeat="gw in gateways" ng-click="useGateway(gw)">
              <span class="name">{{gw.name}}</span>
              <span class="understate"> ({{gw.host}}:{{gw.port}})</small>
            </li>
            <li class="manage-gateways" ui-sref="main.gatewayEdit">
              <span class="glyphicon glyphicon-cog"></span> Manage gateways
            </li>
          </ul>
        </div>
        <div style="clear:both"></div>
      </div>
      <div class="input-group">
        <input type="text" class="form-control input-lg" placeholder="Login" name="username" ng-model="username" />
      </div>
      <br/>
      <div class="input-group">
        <input type="password" class="form-control input-lg" placeholder="Password" name="password" ng-model="password" />
      </div>
      <br/>
      <button type="submit" class="btn btn-lg btn-primary center-block">Login</button>
      <div class="alert alert-danger" ng-if="connectionError">{{connectionError.error.message || connectionError }}</div>
    </form>
  </div>
</div>
