<h4 style="display:inline-block">IO</h4>
<div infinite-scroll="fetchLogs('io')" infinite-scroll-distance="3">
  <table class="table logs-view" style="margin-bottom:0">
    <tr ng-repeat-start="log in logs.io" style="height:0%">
      <td><span class="badge log-level log-{{log.type}}">{{log.type}}</span></td>
      <td><device-badge id="log.deviceId" /></td>
      <td rowspan="2"><code>{{log.content}}</code></td>
    </tr>
    <tr ng-repeat-end>
      <td colspan="2" style="border:0">
        {{log.time | amCalendar}}<br/>
        <span style="font-weight:bold">{{log.uri}}</span>
      </td>
    </tr>
  </table>
</div>
