<d3-graph
  ng-show="viewType.selected == 'pipeline'"
  width="100%"
  height="100%"
  nodes="pipeline.nodes"
  links="pipeline.links"
>
  <smart-tooltip
    show-on-hover="true"
    anchor="nodeSelected.dom"
    title="nodeSelected.info.name"
    subtitle="nodeSelected.info.description"
    class="small"
  >
    <div ng-if="nodeSelected.info.hasActions" class="tooltip-actions">
      <a ng-repeat="(label, cb) in nodeSelected.info.actions" class="btn btn-primary btn-xs" ng-click="cb()">
        {{label}}
      </a>
      <a ng-if="nodeSelected.info.canPipe" class="btn btn-primary btn-xs" ng-click="nodeSelected.info.pipe()">
        View
      </a>
      <a class="btn btn-danger btn-xs" ng-click="nodeSelected.info.remove()">
        Remove
      </a>
    </div>
  </smart-tooltip>
</d3-graph>

<div style="height:100%" ng-show="viewType.selected == 'owned-pipes' && pipes.length === 0">
This client has no pipes
</div>

<div style="height:100%" ng-show="viewType.selected == 'owned-pipes' && pipes.length > 0">
  <pipes-description data="pipes" remove="removePipe"></pipes-description>
</div>

<div class="actions actions-bottom">
  <div class="btn-group">
    <label class="btn btn-default btn-xs" ng-model="viewType.selected" btn-radio="'pipeline'">Pipeline</label>
    <label class="btn btn-default btn-xs" ng-model="viewType.selected" btn-radio="'owned-pipes'">Owned pipes</label>
  </div>
</div>
