<ul class="actions-header small">
  <li class="light-blue static">{{framesSpeed() | shortNumber : ''}} fps</li>
  <li ng-click="clear()"><span class="glyphicon glyphicon-ban-circle"></span></li>
  <li ng-click="toggle()">
    <span ng-if="!paused" class="glyphicon glyphicon-pause"></span>
    <span ng-if="paused" class="glyphicon glyphicon-play"></span>
  </li>
  <li ng-click="toggleFilterEditor()">
    <span class="glyphicon glyphicon-filter"></span>
    <smart-tooltip class="no-padding" show="showFilterEditor">
      <div style="max-height:100px" ui-codemirror="{lineNumbers: true, lineWrapping : true, mode: 'javascript', theme: 'default'}" ng-model="filterScript" class="smaller"></div>
      <div class="tooltip-actions">
        <a class="btn btn-default btn-sm" ng-click="resetFilter()">Cancel</a>
        <a class="btn btn-success btn-sm" ng-click="saveFilter()">Save</a>
      </div>
    </smart-tooltip>
  </li>
</ul>
<table class="table table-condensed data-view small">
  <thead>
    <tr>
      <th>#</th>
      <th>Time</th>
      <th>Type</th>
      <th>Payload</th>
    </tr>
  </thead>
  <tr class="smaller" ng-repeat="frame in frames">
    <td>{{frame.index}}</td>
    <td>{{frame.time | date:mediumTime}}</td>
    <td>{{frame.type}}</td>
    <td>{{frame.payload}}</td>
  </tr>
</table>