<ul class="actions-header small">
  <li class="light-blue static">{{framesSpeed() | shortNumber : ''}} fps</li>
  <li ng-click="clear()"><span class="glyphicon glyphicon-ban-circle"></span></li>
  <li ng-click="toggle()">
    <span ng-if="!paused" class="glyphicon glyphicon-pause"></span>
    <span ng-if="paused" class="glyphicon glyphicon-play"></span>
  </li>
  <li js-tooltip-editor script="script.filter">
    <span class="glyphicon glyphicon-filter"></span>
  </li>
  <li js-tooltip-editor script="script.graph" push-mode="true" js-name="filter">
    <i class="fa fa-line-chart"></i>
  </li>
</ul>
<table class="table table-condensed data-view small">
  <thead>
    <tr>
      <th>#</th>
      <th>Time</th>
      <th>Type</th>
      <th>Payload</th>
    </tr>
  </thead>
  <tr class="smaller" ng-repeat="frame in frames">
    <td>{{frame.index}}</td>
    <td>{{frame.time | date:mediumTime}}</td>
    <td>{{frame.type}}</td>
    <td>{{frame.payload}}</td>
  </tr>
</table>
