<d3-graph
  width="100%"
  height="100%"
  nodes="overview.nodes"
  links="overview.links"
>
  <smart-tooltip
    show-on-hover="true"
    anchor="nodeSelected.dom"
    title="nodeSelected.info.title"
    subtitle="nodeSelected.info.description"
    class="small"
  >
    <format-object ignore-null data="nodeSelected.info.details"></format-object>
    <div ng-if="nodeSelected.info.hasActions" class="tooltip-actions">
      <a ng-if="nodeSelected.info.isClient" class="btn btn-primary btn-xs" ng-click="nodeSelected.info.connect()">
        Connect
      </a>
      <a ng-if="nodeSelected.info.isClientInstance" class="btn btn-danger btn-xs" ng-click="nodeSelected.info.disconnect()">
        Disconnect
      </a>
      <a ng-if="nodeSelected.info.kill" class="btn btn-danger btn-xs" ng-click="nodeSelected.info.kill()">
        Kill
      </a>
      <a ng-if="nodeSelected.info.showPipeline" class="btn btn-primary btn-xs" ng-click="nodeSelected.info.showPipeline()">
        View pipeline
      </a>
      <a ng-if="nodeSelected.info.showPipeline" class="btn btn-primary btn-xs" ng-click="nodeSelected.info.watch()">
        Watch
      </a>
    </div>
  </smart-tooltip>
</d3-graph>
