<d3-graph
  width="100%"
  height="100%"
  nodes="overview.nodes"
  links="overview.links"
>
  <smart-tooltip
    show-on-hover="true"
    anchor="nodeSelected.dom"
    title="nodeSelected.info.name"
    class="small"
  >
    <span class="verbose">{{nodeSelected.info.description}}</span>
  </smart-tooltip>
</d3-graph>

<div class="actions actions-bottom">
  <div class="btn-group">
    <label class="btn btn-default btn-xs" ng-model="viewType.selected" btn-radio="'all'">All</label>
    <label class="btn btn-default btn-xs" ng-model="viewType.selected" btn-radio="'structures'">Structures</label>
  </div>
</div>