#active-connections .device-speed {
  font-size: 0.8em;
}

#active-connections .add-dropdown {
  font-size: 0.8em;
}

#active-connections .subdevice {
  margin-left:5px;
  padding:5px;
  font-size: 0.8em;
}

#active-connections .subdevice > * {
  vertical-align: middle;
}

#active-connections .dc-alert {
  font-size: 0.8em;
  padding: 0 2px 0 2px;
  position: absolute;
  top: 7px;
  right: 25px;
}

#active-connections .subdevice .btn {
  border: 0;
}

#active-connections .matches .target {
  opacity: 0.5;
}

#active-connections .matches .types {
  margin-left:4px;
}

#active-connections .matches .direction {
  color:green;
}

#active-connections .matches .direction.outgoing {
  color:red;
}