.list-group.devices {
  margin-bottom: 0;
}

.list-group-item.device {
  padding:8px;
}

.list-group-item.device {
  padding:8px;
}

.list-group-item.device:hover {
  background-color: #f5f5f5;
}

.list-group-item.add {
  padding:2px 8px 2px 8px;
  background-color:#ececec;
  cursor:pointer;
  font-size:0.8em;
}

.list-group-item.add:hover {
  background-color: #e6e6e6;
}

.add-dropdown li {
  padding:3px;
  magin:3px;
  font-size:0.9em;
  cursor:pointer;
}

.add-dropdown li:hover {
  background-color: #f5f5f5;
}

.add-dropdown li img {
  width:22px;
  height: 22px;
}

.add-dropdown li .text {
  font-size: 0.8em;
  line-height: 1em;
  margin-left: 3px;
}

.add-dropdown li .text .name {
  font-weight: bold;
}

.configuration form .config-row {
  padding-top:2px;
}

.configuration form .control-label {
  font-size:0.8em;
  padding-left:0;
  text-align: left;
}

.configuration form .col-sm-10 {
  padding-right:0;
}

.configuration form input {
  font-size:0.8em;
  height:22px;
  padding:5px 5px;
}

.device .text {
  margin-left: 8px;
  line-height: 1.25em;
}

.device .text span {
  font-weight: bold;
}

.device .actions {
  position: absolute;
  right: 8px;
}
