svg {
  font: 10px sans-serif;
  margin: 0;
}

path, line {
  stroke: #aaa;
}

.no-stroke {
  stroke:inherit;
}

rect {
  fill: none;
  pointer-events: all;
}

.graph-border {
	fill:none;
	stroke:#000;
	shape-rendering: crispEdges;
}

.line {
  stroke-width: 1px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke-opacity: .1;
}

d3-graph, d3-plot, d3-joystick, d3-horizon {
  display: block;
  overflow: hidden;
  vertical-align: top;
}

d3-plot path, d3-plot line {
  fill: none;
}

d3-joystick .background {
  fill:none;
  stroke:#aaa;
  shape-rendering:crispEdges;
}

d3-joystick line.axis {
  stroke:#eee;
}

d3-joystick .x-axis line,
d3-joystick .x-axis path {
  stroke:rgb(255, 155, 155);
  shape-rendering:crispEdges;
  fill:none;
}

d3-joystick .y-axis line,
d3-joystick .y-axis path {
  stroke:rgb(110, 234, 110);
  shape-rendering:crispEdges;
  fill:none;
}

d3-joystick .x-axis text,
d3-joystick .y-axis text {
  display:none;
}

d3-joystick path.x-marker { fill:rgb(255, 155, 155);stroke:inherit; }
d3-joystick path.y-marker { fill:rgb(110, 234, 110);stroke:inherit; }

d3-horizon .plane {
  stroke:rgb(255, 226, 38);
  fill:none;
  stroke-width:3px;
}
d3-horizon .sky { fill:rgb(1, 102, 216); }
d3-horizon .ground { fill:rgb(170, 62, 23); }
d3-horizon .axis { shape-rendering:auto; }
d3-horizon .axis line {
  stroke:white;
  stroke-opacity:1;
}
d3-horizon .axis text {
  fill:white;
}