svg {
  font: 10px sans-serif;
  margin: 0;
}

path, line {
  stroke: #aaa;
}

rect {
  fill: none;
  pointer-events: all;
}

.graph-border {
	fill:none;
	stroke:#000;
	shape-rendering: crispEdges;
}

.line {
  stroke-width: 1.5px;
}

.axis {
  shape-rendering: crispEdges;
}

.axis line {
  stroke-opacity: .1;
}

d3-graph {
  display: block;
  overflow: hidden;
}