.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
html, body {
  width:100%;
  height:100%;
  overflow-x:hidden;
}

.red {
  color: red;
}

.green {
  color: green;
}

.fill {
  height: 100%;
}

.sidebar {
  background-color: #EEE;
  border-left: 1px solid #CCC;
  padding:0;
  overflow: visible;
}

.sidebar .panel {
  border:none;
  box-shadow: none;
  border-radius: 0;
  background-color: #EEE;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.sidebar .panel-heading {
  background-color: #f5f5f5;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
}

.sidebar .panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

.sidebar .panel-heading:hover {
  background-color: #f5f5f5;
}

.smaller { font-size: 0.8em; }
.small { font-size: 0.9em; }
.lightblue { color: cornflowerblue; }

.letter-btn {
  display:inline-block;
  height:24px;
  width:24px;
  line-height:24px;
  -moz-border-radius:24px;
  border-radius:24px;
  border:1px solid #555;
  color: #333;
  text-align: center;
  font-size: 10px;
  margin:0 2px 0 2px;
  overflow:hidden;
  text-transform:uppercase;
}

.letter-btn.on {
  color:white;
  background-color:#333;
  border-color:#333;
}

i.fa-fw {
  vertical-align: middle;
}

.ico-quadcopter {
  background:url(../images/quadcopter.png);
  background-size:contain;
  height:16px;
  background-repeat:no-repeat;
  background-position:center;
}
