.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
html, body {
  height:100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.fill {
  height: 100%;
}

.sidebar {
  background-color: #EEE;
  border-left: 1px solid #CCC;
  padding:0;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .panel {
  border:none;
  box-shadow: none;
  border-radius: 0;
  background-color: #EEE;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.sidebar .panel-heading {
  background-color: #f5f5f5;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
}

.sidebar .panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

.sidebar .panel-heading:hover {
  background-color: #f5f5f5;
}