.btn, .alert, .input-group-addon, .form-control {
  border-radius: 1px;
}

.input-group, .login button {
  width:100%;
}

.btn-fill {
  width:100%;
}

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

.well {
  border-radius: 0px;
  background-color: white;
  border-color: #d2d2d2;
  box-shadow: 0 1px 0 #cfcfcf;
}

.well h4 {
  padding-bottom: 10px;
}

#infuse .navbar-default {
  background-color:white;
  border:0;
  border-radius:0;
  box-shadow: 0 1px 0 #cfcfcf;
}

#infuse .navbar-right {
  margin-right:0;
}

body#infuse {
  background-color:#e0e0e0;
  color:rgb(38, 38, 38);
  font:normal 14px Roboto,arial,sans-serif;
}

.login-header {
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.login-header h4 {
  display:inline-block;
  padding:0;
}

.login .alert {
  margin: 0;
}

.understate {
  color: #aaa;
}

li.manage-gateways {
  border-top:1px solid #efefef;
  margin-top:10px;
  padding-top:10px;
}

.table>tbody>tr>td:first-child,
.table>tbody>tr>th:first-child,
.table>tfoot>tr>td:first-child,
.table>tfoot>tr>th:first-child,
.table>thead>tr>td:first-child,
.table>thead>tr>th:first-child {
  padding-left: 0;
}

.table>tbody>tr>td:last-child,
.table>tbody>tr>th:last-child,
.table>tfoot>tr>td:last-child,
.table>tfoot>tr>th:last-child,
.table>thead>tr>td:last-child,
.table>thead>tr>th:last-child {
  padding-right: 0;
}
