.btn {
  border-radius: 1px;
}

.input-group {
  width:100%;
}

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

.well {
  border-radius: 0px;
  background-color: white;
  border-color: #d2d2d2;
  box-shadow: 0 1px 0 #cfcfcf;
}

.well h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}

#infuse .navbar-default {
  background-color:white;
  border:0;
  border-radius:0;
  box-shadow: 0 1px 0 #cfcfcf;
}

#infuse .navbar-right {
  margin-right:0;
}

body#infuse {
  background-color:#e0e0e0;
  color:rgb(38, 38, 38);
}
