.content {
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.visualization-wrapper {
  padding: 15px 0 0 15px;
}

.visualization {
  padding: 5px;
  border: 1px solid #ccc;
  margin: 0;
}

.visualization .dynamicIncluded {
  height: 200px;
  overflow: auto;
}

.visualization .color-tag {
  width: 20px;
  height: 3px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.visualization .dc-alert {
  display: inline-block;
  font-size: 0.8em;
  padding: 0 2px 0 2px;
  margin: 0 0 0 5px;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 22px;
  right: 60px;
}

.visualization .actions {
  position: absolute;
  right: 0;
  top: 15px;
  padding:5px;
  opacity: 0.3;
}

.visualization .actions:hover {
  opacity: 0.8;
}

.visualization .actions-bottom {
  right: initial;
  top: initial;
  left: 15px;
  bottom: 0;
}

.visualization .title {
  color: #666;
  font-size: 0.8em;
  font-weight: bold;
  display: inline-block;
}

.visualization .verbose {
  color: #aaa;
  font-weight: normal;
}

.format-object ul {
  padding-left: 15px;
  text-align: left;
}

.actions-header {
  background-color: #eee;
  margin: 5px 0 5px 0;
  display:block;
  padding: 4px;
}

.actions-header li {
  padding:5px;
  display: inline-block;
  padding: 0 5px 0 6px;
  cursor: pointer;
}

.actions-header .static {
  cursor: default;
}

.actions-header .glyphicon,
.actions-header .fa {
  color: #777;
  padding-right:2px;
}

.actions-header .glyphicon:hover,
.actions-header .fa:hover {
  color: #333;
}

.actions-header li:not(:last-child) {
  border-right: 1px solid #ccc;
}

div[ui-codemirror] {
  min-width: 350px;
}

div[ui-codemirror] .CodeMirror {
  height:auto;
}

.controller-input {
  display:inline-block;
  font-size:0.8em;
  width:25%;
  height:130px;
}

.controller-buttons {
  display:inline-block;
  max-width:50%
}

.controller-input .symbol {
  display:inline-block;
  margin-left:4px;
}

.controller-input .coords {
  display:inline-block;
  float:right;
  margin-right:4px;
  color:#aaa;
}
