.content {
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.visualization-wrapper {
  padding: 15px 0 0 15px;
}

.visualization {
  padding: 5px;
  border: 1px solid #ccc;
  margin: 0;
}

.visualization .dynamicIncluded {
  height: 200px;
  overflow: auto;
}

.visualization .color-tag {
  width: 20px;
  height: 3px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.visualization .dc-alert {
  display: inline-block;
  font-size: 0.8em;
  padding: 0 2px 0 2px;
  margin: 0 0 0 5px;
  border: 0;
  border-radius: 0;
}

.visualization .actions {
  position: absolute;
  right: 0;
  top: 15px;
  padding:5px;
  opacity: 0.3;
}

.visualization .actions:hover {
  opacity: 0.8;
}

.visualization .actions-bottom {
  right: initial;
  top: initial;
  left: 15px;
  bottom: 0;
}

.visualization .title {
  color: #666;
  font-size: 0.8em;
  font-weight: bold;
  display: inline-block;
}

.visualization .verbose {
  color: #aaa;
  font-weight: normal;
}

.visualization .tooltip {
  color: #fff;
  font-size: 0.8em;
}

.visualization .tooltip .title {
  font-weight: bold;
  color: #fff;
  font-size: 1em;
}

.visualization .tooltip .format-object {
  padding-top: 5px;
  display: inline-block;
  border-top: 1px solid #333;
}

.visualization .tooltip .title .verbose {
  color: #AAA;
  font-weight: normal;
}

.visualization .tooltip .tooltip-inner .connect {
  text-align: right;
  padding-bottom: 3px;
}

.format-object ul {
  padding-left: 15px;
  text-align: left;
}

.actions-header {
  background-color: #eee;
  margin: 5px 0 5px 0;
  display:block;
  padding: 4px;
}

.actions-header li {
  padding:5px;
  display: inline-block;
  padding: 0 5px 0 6px;
  cursor: pointer;
}

.actions-header .static {
  cursor: default;
}

.actions-header .glyphicon {
  color: #777;
  padding-right:2px;
}

.actions-header .glyphicon:hover {
  color: #333;
}

.actions-header li:not(:last-child) {
  border-right: 1px solid #ccc;
}