.content {
  padding-left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.visualization-wrapper {
  padding: 15px 0 0 15px;
}

.visualization {
  padding: 5px;
  border: 1px solid #ccc;
  margin: 0;
}

.visualization .title {
  color: #666;
  font-size: 0.8em;
  font-weight: bold;
  display: block;
}

.visualization .verbose {
  color: #aaa;
  font-weight: normal;
}

.visualization .tooltip {
  color: #fff;
  font-size: 0.8em;
}

.visualization .tooltip .title {
  font-weight: bold;
  color: #fff;
  font-size: 1em;
}

.visualization .tooltip .title .verbose {
  color: #AAA;
  font-weight: normal;
}

.format-object ul, .format-object li {
  padding-left: 0;
  text-align: left;
}