<div ng-controller="ActiveConnectionsCtrl" id="active-connections">
  <ul class="list-group devices">
    <li class="list-group-item device" style="border-left:3px solid {{device.color}}" ng-repeat-start="device in connectedDevices">
      <img ng-src="{{device.icon}}" class="pull-left img-circle" />
      <div class="pull-left text">
        <span>{{device.name}}</span><br/>
        <small>{{device.description}}</small>
      </div>
      <div class="pull-right text device-speed">
        <div ng-if="!device.noUpload">
          <span class="glyphicon glyphicon-arrow-up red"></span>
          {{ device.uploadSpeed() | shortNumber : device.unit }}ps
        </div>
        <div ng-if="!device.noDownload">
          <span class="glyphicon glyphicon-arrow-down green"></span>
          {{ device.downloadSpeed() | shortNumber : device.unit }}ps
        </div>
      </div>
      <div class="actions" show-on-hover-parent>
        <div style="display:inline-block" dropdown-toggle dropdown>
          <a class="btn btn-default">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
          <ul class="dropdown-menu add-dropdown">
            <li ng-repeat="view in device.views" ng-if="!view.hidden" ng-click="visualize(device, view)">
              <span class="name">{{view.name}}</span>
            </li>
          </ul>
        </div>
        <a class="btn btn-default" ng-click="configure(device)">
          <span class="glyphicon glyphicon-wrench"></span>
        </a>
        <a class="btn btn-danger" ng-click="disconnect(device)">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </div>
      <div style="clear:both"></div>
    </li>
    <li ng-repeat="(uuid, subdevice) in getWatchedClients(device)"
      class="list-group-item subdevice"
      ng-repeat-end
      style="border-left:3px solid {{subdevice.subColor}}"
    >
      <i class="fa {{subdevice.smallIcon}} fa-fw fa-lg"></i>
      <span class="subdevice-id">{{subdevice.sessionClientUuid | shortUuid}}</span>
      <span class="active-vis">{{subdevice.activeVisualizations}}</span>

      <!-- Actions -->
      <div style="display:inline-block" class="pull-right">
        <!-- Matches -->
        <div style="display:inline-block" dropdown-toggle dropdown
          ng-if="subdevice.matches.length > 0" class="matches">
          <a class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-link"></span>
          </a>
          <ul class="dropdown-menu add-dropdown">
            <li ng-repeat="match in subdevice.matches" ng-click="device.setupMatch(match)">
              <span class="types">{{match.types.join(', ')}}</span>
              <span class="pull-right target">
                <span class="direction" ng-class="{outgoing: match.outgoing}">
                  {{match.outgoing ? 'to' : 'from'}}
                </span>
                <i class="fa {{device.getClient(match.foreign.target).smallIcon}} fa-fw fa-lg"></i>
                <span class="subdevice-id">{{match.foreign.target | shortUuid }}</span>
              </span>
            </li>
          </ul>
        </div>

        <!-- View creation -->
        <div style="display:inline-block" dropdown-toggle dropdown ng-if="device.getDeviceViews(subdevice.deviceType).length > 0">
          <a class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-eye-open"></span>
          </a>
          <ul class="dropdown-menu add-dropdown">
            <li ng-repeat="view in device.getDeviceViews(subdevice.deviceType)" ng-click="visualize(subdevice, view)">
              <span class="name">{{view.name}}</span>
            </li>
          </ul>
        </div>

        <!-- Remove watch -->
        <a class="btn btn-default btn-xs" ng-click="subdevice.noWatch = true">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </div>

      <!-- Connection lost notification -->
      <div ng-show="!subdevice.connected" class="alert alert-danger dc-alert" role="alert">
        <span class="glyphicon glyphicon-flash"></span> Connection lost
      </div>
    </li>
  </ul>
  <div ng-show="!connectedDevices.length">
    No active connections
  </div>
</div>