<a ui-sref="main.dashboard" ui-sref-active="active" class="panel-heading panel-title" style="display:block;background-color: #eeeeee">
  <i class="fa fa-cubes"></i> Dashboard
</a>
<accordion close-others="false">
  <accordion-group is-open="false">
    <accordion-heading>
      <span class="glyphicon glyphicon-cog"></span>
      Settings
    </accordion-heading>
    <div ng-include src="'views/sidebar/settings.html'"></div>
  </accordion-group>
  <accordion-group is-open="true">
    <accordion-heading>
      <span class="glyphicon glyphicon-bookmark"></span>
      Snippets
    </accordion-heading>
    <div ng-include src="'views/sidebar/snippets.html'"></div>
  </accordion-group>
  <accordion-group is-open="true">
    <accordion-heading>
      <span class="glyphicon glyphicon-book"></span>
      New connection
    </accordion-heading>
    <div ng-include src="'views/sidebar/connect.html'"></div>
  </accordion-group>
  <accordion-group heading="Active connections" is-open="true">
    <div ng-include src="'views/sidebar/active-connections.html'"></div>
  </accordion-group>
</accordion>
