<div class="row">
  <div class="col-xs-6">
    <div class="well">
      <button class="btn btn-md" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
      <span><i class="fa fa-filter"></i> Devices</span>
      <devices-select multiple max-labels="0" value="request.deviceId"></devices-select>
    </div>
    <div row-fill class="well" ng-include src="'views/dashboard/logs/logs-messages-view.html'"></div>
  </div>
  <div class="col-xs-6">
    <div row-fill class="well" ng-include src="'views/dashboard/logs/logs-io-view.html'"></div>
  </div>
</div>
