<div ng-controller="ActiveConnectionsCtrl" id="active-connections">
  <ul class="list-group devices">
    <li class="list-group-item device" style="border-left:3px solid {{device.color}}" ng-repeat="device in connectedDevices">
      <img ng-src="{{device.icon}}" class="pull-left img-circle" />
      <div class="pull-left text">
        <span>{{device.name}}</span><br/>
        <small>{{device.description}}</small>
      </div>
      <div class="pull-right text device-speed">
        <div ng-if="!device.noUpload">
          <span class="glyphicon glyphicon-arrow-up red"></span>
          {{ device.uploadSpeed() | shortNumber : device.unit }}ps
        </div>
        <div ng-if="!device.noDownload">
          <span class="glyphicon glyphicon-arrow-down green"></span>
          {{ device.downloadSpeed() | shortNumber : device.unit }}ps
        </div>
      </div>
      <div class="actions" show-on-hover-parent>
        <a class="btn btn-success" ng-click="configure(device)">
          <span class="glyphicon glyphicon-wrench"></span>
        </a>
        <a class="btn btn-danger" ng-click="disconnect(device)">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </div>
      <div style="clear:both"></div>
    </li>
  </ul>
  <div ng-show="!connectedDevices.length">
    No active connections
  </div>
</div>