<div ng-controller="VisualizationCtrl">
  <div ng-repeat="vis in visualizations">
    <div class="visualization-wrapper col-lg-4">
      <div class="visualization">
        <div class="color-tag" style="background-color:{{vis.scope.color}}"></div>
        <div class="color-tag" style="background-color:{{vis.scope.subColor}};margin-left:20px" ng-if="vis.scope.subColor"></div>
        <span class="title">
          {{vis.scope.title.name}} <span class="verbose">{{vis.scope.title.description}}</span>
        </span>
        <div ng-show="!vis.scope.connected" class="alert alert-danger dc-alert" role="alert">
          <span class="glyphicon glyphicon-flash"></span> Connection lost
        </div>
        <div class="actions">
          <a class="btn btn-default btn-xs" ng-click="vis.minimized = !vis.minimized">
            <span class="glyphicon glyphicon-minus"></span>
          </a>
          <a class="btn btn-danger btn-xs" ng-click="vis.stop()">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
        <dynamic-include ng-show="!vis.minimized" src="vis.template" controller="vis.controller" scope="vis.scope"></dynamic-include>
      </div>
    </div>
  </div>
</div>