<h4 ng-if="device.deviceId">Edit device</h4>
<h4 ng-if="!device.deviceId">New device</h4>
<form class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="device.description.name" placeholder="Device name">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Location</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="device.description.location" placeholder="Where is situated the device">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Version</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="device.description.version" placeholder="Device version">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Physical identifier</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="device.description.physicalIdentifier" placeholder="Device physical identifier">
    </div>
  </div>
  <div class="form-group">
    <label for="family" class="col-sm-2 control-label">Family</label>
    <div class="col-sm-10">
      <isteven-multi-select
          input-model="families"
          output-model="device.description.family"
          button-label="icon name"
          item-label="icon name"
          tick-property="ticked"
          selection-mode="single"
          helper-elements="none filter"
      >
      </isteven-multi-select>
    </div>
  </div>
  <div class="form-group">
    <label for="family" class="col-sm-2 control-label">Sensors</label>
    <div class="col-sm-10">
      <isteven-multi-select
          input-model="sensors"
          output-model="device.description.sensors"
          button-label="icon name"
          item-label="icon name"
          tick-property="ticked"
          helper-elements="none filter"
          group-property="msGroup"
      >
      </isteven-multi-select>
    </div>
  </div>
  <div class="form-group">
    <label for="family" class="col-sm-2 control-label">Readers</label>
    <div class="col-sm-10">
      <isteven-multi-select
          input-model="readers"
          output-model="device.description.readers"
          button-label="icon name"
          item-label="icon name"
          tick-property="ticked"
          helper-elements="none filter"
      >
      </isteven-multi-select>
    </div>
  </div>
  <hr/>
  <div>
    <h4 style="float:left;vertical-align: top">Logging</h4>
    <h5 style="float:right;vertical-align: top">Records events by time and device as text format</h5>
  </div>
  <div style="clear:both"></div>
  <div class="form-group">
    <label for="family" class="col-sm-2 control-label">Message level</label>
    <div class="col-sm-10">
      <isteven-multi-select
          input-model="logLevels"
          output-model="device.logging.logLevel"
          button-label="name"
          item-label="name"
          tick-property="ticked"
          selection-mode="single"
          helper-elements=""
      >
      </isteven-multi-select>
    </div>
  </div>
  <div class="form-group">
    <label for="family" class="col-sm-2 control-label">Record</label>
    <div class="checkbox col-sm-10">
      <input type="checkbox" id="recordIO" ng-model="device.logging.logIO">
      <label for="recordIO">Input/Output</label>
    </div>
  </div>
  <hr/>
  <div>
    <h4 style="float:left;vertical-align: top">Recording</h4>
    <h5 style="float:right;vertical-align: top">Allows data playback for offline learning and debugging</h5>
  </div>
  <div style="clear:both"></div>
  <div class="form-group">
    <label for="recordingEnable" class="col-sm-2 control-label">Record</label>
    <div class="checkbox col-sm-10">
      <input type="checkbox" id="recordingEnable" ng-model="device.recording.enable">
      <label for="recordingEnable">Enable</label>
    </div>
  </div>
  <div class="form-group">
    <label for="recordingDaysKept" class="col-sm-2 control-label">Days kept</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" ng-model="device.recording.daysKept">
    </div>
  </div>
  <div class="form-group">
    <label for="recordingMaxSize" class="col-sm-2 control-label">Max size (in MB)</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" ng-model="device.recording.maxMbSize">
    </div>
  </div>
</form>
<hr/>
<div class="pull-right">
  <button class="btn btn-md btn-default" ng-click="stopEdit()">Cancel</button>
  <button class="btn btn-md btn-danger" ng-click="deleteDevice(device)">Delete</button>
  <button class="btn btn-md btn-primary" ng-click="saveDevice(device)">Save</button>
</div>
